* {
    box-sizing: border-box;
    margin: 0;
}

/* |--------------| */
/* | LEFT SECTION | */
/* |--------------| */

.left-section{
    width: 20%;
    position: fixed;
    background-color: #4B5056;
    height: 100%;
}
/*  LOGO */
.left-logo{
    padding-top: 100px;
    padding-bottom: 100px;
}
/* MENU */
.left-section-menus a{
    text-decoration: none;
}
.left-section-menus h1{
    width: 100%;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: medium;
    font-weight: lighter;
    margin-bottom: 1px;
    background-color: #393E42;
    padding: 10px;
}
.m1  h1{
    border-left: 6px solid #35AAE0;
}
.m2  h1{
    border-left: 6px solid #E9B144;
}
.m3  h1{
    border-left: 6px solid #9353E7;
}
.m4  h1{
    border-left: 6px solid #38E593 ;
}
.m5  h1{
    border-left: 6px solid #E4367B ;
}

/* |---------------| */
/* | RIGTH SECTION | */
/* |---------------| */

.right-section{
    width: 80%;
    margin-left: 20%; 
}

/*  HOME  */

.home-row1{
    display: flex;
    background-image: url(./assets/homebg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: white;
    height: 800px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.home-row1-col1 h1{
    font-size: 40px;
}
.home-row1-col1 input[type="button"]{
    padding: 15px;
    background-color: #38A9E3;
    color: white;
    font-weight: 800;
    border: none;
    border-bottom: 5px solid #1d8fc9;
}
.home-row2-welcometemplate{
    text-align: center;
    padding: 30px;
}
.home-row2-welcometemplate h3{
    color:#38A9E3;
    font-size: 30px;
    font-weight: lighter;
}
.home-row2-welcometemplate p{
    font-weight: lighter;
    font-size: 20px;
}
.home-row2-welcometemplate span{
    color: #38A9E3;
} 

/*  ABOUT US  */

.aboutus{
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    border-top: 10px solid #E9B144 ;
}
.about_us_header{
    background-color: #E9B144;
    padding: 10px;
    width: 20%;
    height: 60px;
    margin-top: -1px;
    margin-bottom: 50px;
    text-align: center;
    color: white;
    font-weight: 400;
}

/* profile */

.aboutus-profile{
    display: grid;
    grid-template-columns: 33.333333% 33.333333% 33.333333%;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* management */

.about_row3{
    display: grid;
    margin-top: 50px;
}
.about_row3_img{
    float: right;
    margin: 0px 0px 15px 20px;
    width: 190px;
}
.about_row3 h2{
    text-transform: uppercase;
    color: #E9B144 ;
}


/*  SERVICES  */

.services {
    display: grid; 
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    position: relative;
    border-top: 10px solid #9353E7;
}
/* row1 header */
.services_header{
    padding: 10px;
    width: 20%;
    height: 60px;
    margin-top: -1px;
    margin-bottom: 50px;
    text-align: center;
    color: white;
    background: #9353E7;
    font-weight: 400;
}
/* row2 services */
.our_services{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    margin-top: 50px;
}
.service_items{
    display: grid;
    grid-template-columns: 25% 75%;
    background-color: #9353E7;
    color: #fff;
    align-items: center;
    justify-items: center;
    padding: 20px;
    vertical-align: middle;
}
/* row3 skills */
.services_row3{
    display: grid;
    grid-template-columns: 60% 40%;
    margin: auto;
    align-items: baseline;
    margin-top: 60px;
}

.services_row3  h2{
    font-weight: 400;
    line-height: 5rem;
    color: #8a2be2;
}

/* .row3_c1_text > p{ 
    font-size: 0.8rem;
    line-height: 1.1rem;
/* } */

.row3_c2_progress{
    display: grid;
    margin-top: 30px;
    margin-bottom: 150px;
    justify-items: center;
    align-items: center;
    align-content: space-evenly;
    height: fit-content;
    row-gap: 10px;
    text-align: center;
}
.progress {
    width:80%;
    border: 2px solid #f2f3f4;
    background-color: #f2f3f4;
    height: 20px;
    margin-left: 20%;
  }
  
  .progress .progress_bar1 {
    width: 90%;
    margin-top: -1px;
    margin-left: -1px;
    height: 20px;
    background-color: #8a2be2;
  }

  .progress .progress_bar2 {
    width: 75%;
    height: 20px;
    margin-top: -1px;
    text-align: center;
    align-content: center;
    margin-left: -1px;
    background-color: #8a2be2;
  }

  .progress .progress_bar3 {
    width: 66%;
    height: 20px;
    margin-top: -1px;
    margin-left: -1px;
    background-color: #8a2be2;
  }

  .progress .progress_bar4 {
    width: 88%;
    height: 20px;
    margin-top: -1px;
    margin-left: -1px;
    background-color: #8a2be2;
  }



/*  PORTFOLIO  */

.portfolio {
    display: grid; 
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    position: relative;
    border-top: 10px solid #38E593;
}
.portfolio_header{
    padding: 10px;
    width: 20%;
    height: 60px;
    margin-top: -1px;
    margin-bottom: 50px;
    text-align: center;
    color: white;
    background: #38E593;
    font-weight: 400;
}


/*  CONTACT  */

.contact {
    display: grid; 
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    position: relative;
    border-top: 10px solid #E4367B;
}
.contact_header{
    padding: 10px;
    width: 20%;
    height: 60px;
    margin-top: -1px;
    margin-bottom: 50px;
    text-align: center;
    color: white;
    background: #E4367B;
    font-weight: 400;
}
